<div class="container">
  <h1><%= @quiz.title %> finish</h1>

  <ul>
    <% @questions.each do |question| %>
      <li><%= question.position %> <%= question.content %></li>

      <p>Ta réponse :
        <% @answers.each do |answer| %>
          <%= answer.option.title %>
        <% end %>
      </p>
      <p>La bonne réponse :
        <%= question.options.find_by(right: true).title %>
      </p>

    <% end %>
  </ul>
</div>
