<div class="container">
  <div class="img-quiz">
  <%= image_tag "ill_quizz_flash_wine.png" %>
  </div>
  <h1 class="quizz-title text-center m-5"><%= @quiz.title %> correction</h1>

  <div class="correction">
    <% @questions.each do |question| %>

      <div class="question-responses m-5">
        <div class="question">
          <p><%= question.position %>. <%= question.content %></p>
        </div>

        <div class="responses">
          <p>Ta réponse :
              <%= question.answers.where(user: current_user).last.option.title %>
          </p>

          <p>La bonne réponse :
            <%= question.options.find_by(right: true).title %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
