<div class="banner" style="background-image: url(https://cdn.pixabay.com/photo/2017/06/26/12/49/red-wine-2443699_1280.jpg)">
  <h1>Cours Flashs</h1>
</div>


<div class="container">



<% @lectures.each do |lecture| %>
  <div class="">
    <%=link_to lecture_path(lecture), class:"card-product" do%>
      <%= image_tag lecture.photo, alt: "" %>
      <div class="card-product-infos">
        <h2><%=lecture.title%></h2>
        <p><%= lecture.description %></p>
      </div>
    <% end %>
  </div>
<% end %>

</div>

<%= render 'shared/footer' %>
