<div class="back">
  <div class="lecture">
    <div class="banner" style="background-image: url(<%= @lecture.photo %>)">
      <h3><%= @lecture.title %></h3>
    </div>
    </div>
    <div class="container">
      <div class="infos">
        <% @lecture.infos.each do |info| %>
          <%= render 'flip', info: info %>
        <% end %>
      </div>
      <div class="links">
        <p><small>Tapoter pour afficher la réponse*</small></p>
        <%= link_to "Terminer", lectures_path,class: "btn-flat" %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
