<div class="back">
  <div class="lecture">
    <h2><%= @lecture.title %></h2>
    <p><small>Touchez pour afficher la réponse*</small></p>
  </div>
  <div class="container">
    <div class="infos">
      <% @lecture.infos.each do |info| %>
        <%= render 'flip', info: info %>
      <% end %>
    </div>
    <div class="links">
      <% if @lecture.quizzes[0].present? %>
        <%= link_to "Quiz", class: "btn-flat" %>
      <% else %>
        <%= link_to "Je sais !", dashboard_path,class: "btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
