<h2>Mettre à jour mon profil</h2>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
       <span class='d-flex justify-content-between'> <%= f.input :first_name, label: "Prénom" %>
      <%= f.input :last_name, label: "Nom"%> </span>
      <%= f.input :user_name, required: true, label: "Surnom" %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  label: "Nouveau mot de passe",
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmer le mot de passe",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  label: "Mot de passe actuel",
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions" btn btn-flat>
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <p>Unhappy? <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back, class:"btn btn-ghost"%>
</div>
