<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1510812431401-41d2bd2722f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <h1>Ma communauté</h1>
</div>

<%= form_tag users_path, method: :get do %>
  <div class="d-flex">
    <div class="w-75 pl-5">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Chercher un ami..."
      %>
    </div>
    <div class="w-25">
      <%= submit_tag "Trouver", class: "btn btn-flat btn-small mb-1 mr-5" %>
    </div>
  <% end %>
</div>

  <% @users.each do |user| %>
    <div class="card-friend d-flex">
      <img class="avatar-small col-3" src="https://cdn.pixabay.com/photo/2018/01/13/19/39/fashion-3080644_1280.jpg">
      <p class="col-6"><strong><%= "#{user.first_name} #{user.last_name}" %></strong></p>
      <%= link_to 'Ajouter', add_friend_path(user), method: :get, remote: true, class: "user-#{user.id} btn-ghost btn-small col-3" %>
    </div>
  <% end %>

<%= render 'shared/footer' %>
