<div class="footer-container fixed-bottom row">
    <% if user_signed_in? %>
      <%= link_to dashboard_path, class: "card col" do %>
      <%= image_tag "home_icone.svg" %>
      <h5 class="card-title">Accueil</h5>
      <% end %>
    <% else %>
      <%= link_to home_path, class: "card col" do %>
      <%= image_tag "home_icone.svg" %>
      <h5 class="card-title">Accueil</h5>
      <% end %>
    <% end %>

    <%= link_to quizzes_path, class: "card col" do %>
      <%= image_tag "trophy-icone.svg"%>
      <h5 class="card-title">Quiz</h5>
    <% end %>

    <%= link_to wines_path, class: "card col" do %>
      <%= image_tag "cave_icone.svg" %>
      <h5 class="card-title">Cave</h5>
    <% end %>

    <%= link_to wines_path, class: "card col" do %>
      <%= image_tag "friends_icone.svg" %>
      <h5 class="card-title">Amis</h5>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path, class: "card col" do %>
      <%= image_tag "profile_icone.svg" %>
      <h5 class="card-title">Profil</h5>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "card col" do %>
      <%= image_tag "profile_icone.svg" %>
      <h5 class="card-title">Profil</h5>
      <% end %>
    <% end %>


 </div>
