<div class="dash-banner" >
    <h2>Bonjour <%= @user.first_name %></h2>
    <%= cl_image_tag current_user.photo, class: "w-25 rounded-circle" %>
    <p>Niveau : <%= current_user.level %></p>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<!--   <div class="level">
    <i class="fas fa-wine-glass u"></i>
    <i class="fas fa-wine-glass y"></i>
    <i class="fas fa-wine-glass t"></i>
    <i class="fas fa-wine-glass r"></i>
    <i class="fas fa-wine-glass e"></i>
    <i class="fas fa-wine-glass z"></i>
    <i class="fas fa-wine-glass a"></i>
  </div> -->
</div>
<% if @user.requested_friends.size > 0 %>
  <div class="cards">
    <p>Tu as <%= @user.requested_friends.size %> demande(s) en attente</p>
    <% @user.requested_friends.each do |request| %>
      <div class="card-product user-<%=request.id%>">
        <img src="https://cdn.pixabay.com/photo/2018/01/13/19/39/fashion-3080644_1280.jpg">
        <div class="card-product-infos">
          <h2><%= request.first_name %></h2>
          <p>souhaite devenir votre ami</p>
          <span class="justify-content-around">
            <%= link_to "Accepter", accept_friend_path(request), remote: true, class: "btn-ghost" %>
            <%= link_to "Refuser", reject_friend_path(request), remote: true, class: "btn-ghost" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Ajouter un ami', users_path, class: "btn-ghost" %>
<p>Tu es niveau <%= @user.score %>points</p>
<%#= link_to 'Gens possibles en amis', connections_path %>


<% current_user.friends.each do |friend| %>
  <div class="card-product user-<%=friend.id%>">
    <img src="https://cdn.pixabay.com/photo/2018/01/13/19/39/fashion-3080644_1280.jpg">
    <div class="card-product-infos">
      <h2><%= friend.first_name + " " + friend.last_name %></h2>
      <p>souhaite devenir votre ami</p>
      <span class="justify-content-around">
        <%= link_to "Supprimer", delete_friend_path(friend), remote: true, class: "btn-ghost" %>
      </span>
    </div>
  </div>
<% end %>



