<h2>Recommandations</h2>
<% @recommendations.each do |recommendation| %>
  <div class="card-product recommendation-<%=recommendation.id%>">
    <%= cl_image_tag recommendation.sender.photo %>
    <div class="card-product-infos">
      <h2><%= recommendation.sender.first_name + " " + recommendation.sender.last_name %></h2>
      <p>Te recommande le <%= recommendation.wine.appellation %></p>
    </div>
      <%= link_to "#", remote: true, class: "icon-btn" do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
  </div>
<% end %>
