<%# Haut de la review  %>
  <div class="d-flex align-items-center justify-content-between">
    <%# User Avatar %>
    <div class="w-50">
      <% if review.user.photo.present? %>
        <%= cl_image_tag review.user.photo, class: "avatar mr-2", alt: "photo" %>
      <% else %>
        <%= image_tag "avatar.png", class:"mr-1", width: 35, height: 35 %>
      <% end %>

    <%# User Name %>
      <%= review.user.first_name %>  <%= review.user.last_name%>
    </div>

    <%# Edit and Delete Icons %>
    <div class="w-25">
      <% if review.user = current_user %>
        <%= link_to '<i class="far fa-edit edit-delete-icons"></i>'.html_safe, edit_wine_review_path(@wine, review) %>
        <%= link_to '<i class="far fa-trash-alt edit-delete-icons"></i>'.html_safe, review, method: :delete %>
      <% end %>
    </div>

  <%# Etoiles  %>
  <div class="star_card d-flex w-25">
    <%(@wine.average_rating.round).times do %>
      <p><i class="fas fa-star light-stars"></i></p>
    <% end %>
    <% (5 - @wine.average_rating.round).times do %>
      <p><i class="far fa-star light-stars"></i></p>
    <% end %>
  </div>
</div>

<%# Bas de la review %>
<p><%= review.content %></p>

<hr class="separating-line">



