<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491924778227-f225b115dd5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);">
  <h1>Ma cave</h1>
</div>

<div class="form-group">
  <div class="control">
    <%= form_tag wines_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Chercher un vin"
      %>
      <%= submit_tag "Trouver", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

<% @wines.each do |wine| %>
  <div class="card-product">
    <%=link_to wine_path(wine), class:"card-product" do%>
      <% if wine.photo.present? %>
       <%= image_tag wine.photo, class:"wine-index-photo"%>
      <%else%>
        <img src="https://images.unsplash.com/photo-1549873916-b1bb7dc758c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
      <% end %>
      <div class="card-product-infos">
        <h2><%=wine.name%> <%= wine.year%></h2>
        <p>Région : <%= wine.region %></p>
        <p>Couleur : <%= wine.color %></p>
        <div>
          <%if wine.average_rating.nan? == false %>
            <div class="d-flex justify-content-between">
              <div><p><i class="far fa-comment"></i>  <%= wine.reviews.count %> avis </p></div>
              <div class="star_card d-flex">
                <%(wine.average_rating).round.times do %>
                  <p><i class="fas fa-star"></i></p>
                <% end %>
                <% (5 - wine.average_rating).round.times do %>
                  <p><i class="far fa-star"></i></p>
                <% end %>
              </div>
            </div>
           <%else %>
            <p>Soyez le premier à donner votre avis !</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
