<h1>Wines#show</h1>

<h2><%= wine.name %></h2>
<p>Années :<%= wine.year %></p>
<p>Région :><%= wine.region %></p>
<p>Appellation : <%= wine.appellation %></p>
<p>Cépage :<%= wine.cepage %></p>
<p>Couleur :<%= wine.color %></p>
<p>Saveurs : <%= wine.flavour %></p>
