

<div class="card card-wine-show" style="width: 35rem;">
  <img src="https://images.unsplash.com/photo-1569919659476-f0852f6834b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" class="card-img-top" alt="vin">

  <div class="card-body">
    <h4 class="card-title card-title-show"><strong><%= @wine.name %> <%= @wine.year %></strong></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong> Région : </strong><%= @wine.region %></li>
    <li class="list-group-item"><strong> Appellation : </strong><%= @wine.appellation %></li>
    <li class="list-group-item"><strong> Cépage : </strong><%= @wine.cepage %></li>
    <li class="list-group-item"><strong> Couleur : </strong><%= @wine.color %></li>
  </ul>
      <!-- CTA recommendation -->
    <div class="card-body">
      <a class="btn btn-flat btn-recommandation button-form" data-toggle="modal" data-target="#open-modal"><span><i class="fas fa-share"></i></span> Recommander à un ami</a>
    </div>

      <div >
    <ul class="list-group">
      <li class="list-group-item border-bloc-index"><strong> Note : </strong>
      </li>
    </ul>
    <div class="d-flex justify-content-around  mr-5">
      <div>
        <p><i class="far fa-comment"></i>  <%= @wine.reviews.count %> avis</p>
      </div>
      <div>
        <% if @wine.average_rating.nan? == true %>
            <p>Soyez le premier à donner votre avis sur ce vin</p>
          <% else %>
            <div class="star_card d-flex">
              <%(@wine.average_rating.round).times do %>
                <p><i class="fas fa-star"></i></p>
              <% end %>
              <% (5 - @wine.average_rating.round).times do %>
                <p><i class="far fa-star"></i></p>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>


<%# CTA Reco  %>
<div class="modal modal_size center-block" id="open-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sélectionnez un ami</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

          <div class="modal-body">
            <%= simple_form_for @recommendation, url: recommendations_path(wine_id: @wine.id) do |f| %>
              <div class="simple-group">
                <%= f.input :recipient_id, collection: current_user.friends, label: false, class: 'form-control' %>
              </div>

            <%= f.submit class: 'btn btn-primary', value:"Envoyer"%>
           <% end %>

      </div>

    </div>
  </div>
</div>

<%# Index of all reviews %>
<div class="reviews-show-wine">
  <hr class="separating-line">
  <% if @wine.average_rating.nan? == false %>
    <h3 class="title-avis"><%= image_tag "comment_icone.svg", class:"mr-1", width: 25, height: 25 %>Les Avis</h3>
    <hr class="separating-line">
    <div id="reviews">
      <% @wine.reviews.each do |review| %>
        <div class="review-<%= review.id %>">
          <%= render 'reviews/show', review: review %>
        </div>
      <% end %>
    </div>
  <%end%>

<%# Form to add a review %>

  <h3 class="title-avis"><%= image_tag "edit_comment_icone.svg", class:"mr-1", width: 25, height: 25 %>Votre avis</h3>
  <hr class="separating-line">
  <%= render 'reviews/form', wine: @wine, review: @review, class:"btn btn-flat"%>

</div>

<%= render 'shared/footer' %>
