<h1>Wines#show</h1>

<h2><%= @wine.name %></h2>
<p>Années :<%= @wine.year %></p>
<p>Région :><%= @wine.region %></p>
<p>Appellation : <%= @wine.appellation %></p>
<p>Cépage :<%= @wine.cepage %></p>
<p>Couleur :<%= @wine.color %></p>
<p>Saveurs : <%= @wine.flavour %></p>

<div id="reviews">
  <p>Avis :</p>
  <% if @wine.reviews.blank? %>
    Soyez le premier à laisser un avis sur <%= @wine.name %> !
  <% else %>
    <% @wine.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>

<%= render 'reviews/form', wine: @wine, review: @review, class:"btn-flat"%>


