<h2><%= @wine.name %> <%= @wine.year %></h2>

<%# Wine-card summary %>
  <div class="container card-wine-summary">
    <%# Picture of the wine  %>
    <img class="w-50" src="https://images.unsplash.com/photo-1569919659476-f0852f6834b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
    <%# Description of the wine %>
    <div class="card-wine-infos h-100 align-content-around">

      <%# CTA Reco  %>
      <a class="btn btn-flat" data-toggle="modal" data-target="#open-modal">Book now</a>

      <div class="modal" id="open-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sélectionner un ami</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

                <div class="modal-body">
                  <%= form_for(@recommendation) do |f| %>
                    <div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :recipient_id, class: 'form-control' %>
                    </div>

                  <%= f.submit class: 'btn btn-primary' %>
                 <% end %>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      <%#Text description  %>
      <div class="align-content-around">
        <p><strong> Région : </strong><%= @wine.region %></p>
        <p><strong> Appellation : </strong><%= @wine.appellation %></p>
        <p><strong> Cépage : </strong><%= @wine.cepage %>
        <p><strong> Couleur> : <%= @wine.color %></p>
      </div>
      <%# Stars rating  %>
      <div class="justify-content-around">
        <div><p><i class="far fa-comment"></i>  <%= @wine.reviews.count %> avis </p></div>
        <div>
          <% if @wine.average_rating.nan? == true %>
            <p>Soyez le premier à donner votre avis sur ce vin</p>
          <% else %>
            <div class="star_card d-flex">
              <p>Note moyenne </p>
              <%(@wine.average_rating.round).times do %>
                <p><i class="fas fa-star"></i></p>
              <% end %>
              <% (5 - @wine.average_rating.round).times do %>
                <p><i class="far fa-star"></i></p>
              <% end %>
            </div>
              <div>
                <a class="btn btn-flat" href="#">Recommender</a>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



<%# Index of all reviews %>
  <hr class="separating-line">
  <div class="container">
    <% if @wine.average_rating.nan? == false %>
      <h3><%= image_tag "comment_icone.svg", class:"mr-1", width: 25, height: 25 %>Avis sur ce vin</h3>
      <div class="container" id="reviews">
        <% @wine.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <%end%>
    </div>
  </div>

<%# Form to add a review %>
<div class="container">
  <h3><%= image_tag "edit_comment_icone.svg", class:"mr-1", width: 25, height: 25 %>Comment l'avez-vous trouvé?</h3>
  <%= render 'reviews/form', wine: @wine, review: @review, class:"btn-flat"%>
</div>
