<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if user_signed_in? %>
    <title>FlashWine | <%= current_user.first_name %></title>
    <% else %>
    <title>FlashWine</title>
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/88d825431bfee24234c96a4170553e7f?family=FF+Mark" rel="stylesheet" type="text/css"/>
    <!-- quiz needed -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
